<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Initial Base</title>
    {% endblock %}
    <title>Grumblr Log In</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="content">
    <h1 class="grumblrStyle">Grumblr</h1>
    {% block slogan %}
        <p class="findLarger">Slogan</p>
    {% endblock %}

    <div>
    {% block input_form %}
        form
    {% endblock %}
    </div>
    <br>
    {%  block redirect_link %}
        link
    {% endblock %}

</div>

</body>
</html>