{% extends "grumblr/initial_base.html" %}

{% block title %}
    <title>Grumblr Register</title>
{% endblock %}

{% block slogan %}
    <p class="findLarger">Join Us Today</p>
{% endblock %}

{% block input_form %}
    <div style="font-size: 20px; font-family: 'Times New Roman'">
        Thank you for join us today!
        <br>
        Please activate your new account through the link sent to your email.
    </div>

{% endblock %}

{% block redirect_link %}
    <p class="registerLink">Already have an account? <a href="/grumblr/login" style="color: blue"><u>Log In!</u></a></p>
{% endblock %}