{% extends "grumblr/modifyPersonalFile/modifyBase.html" %}

{% block title %}
    <title>Modify Password</title>
{% endblock %}

{% block modifyHeading %}
    <h1>Set New Password</h1>
{% endblock %}

{% block modifyForm %}
    <form method="post" action="modify-password">
        <table>
            <tr>
                <td>Current Password: </td>
                <td><input type="password" name="old_password" required></td>
            </tr>
            <tr>
                <td>New Password: </td>
                <td><input type="password" name="new_password" required></td>
            </tr>
        </table>
        <br>
        <input type="submit" value="Save">
        {% for error in errors %}{{ error }}{% endfor %}
        {% csrf_token %}
    </form>
{% endblock %}